@import "tailwindcss";

@theme {
  --color-brand-primary: #a16207;
  --color-brand-secondary: #713f12;
  --color-brand-light: #fefce8;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}
